/*
Font imports
*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.backgroundPicture {
    z-index:1;
    position: absolute;
}

.backgroundPicture img {
    width:100vw;
    height: 45vh;
}

.HomeWrapper {
    display:flex;
    justify-content: center;
    flex-direction:row;
    align-items:stretch;
}

body {
    background-color: #d7cee1;
}

.HomeMargin {
    flex:6%;
}

.HomeFeed {
    position:relative;
    z-index:2;
    flex:94%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin-top:7vh;
    margin-bottom:7vh;
}

.HomeComponentDivider {
    height: 4vh;
}